<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tempo Restante da Sessão</title>
  </head>
  <body>
    <div class="container">
		  
      <h1>Tempo Restante da Sessão</h1>
      <p>Sua sessão expirará em {{ minutes }} minutos e {{ seconds }} segundos.</p>
      <p>Veze que atualizou a página: {{counter}}</p>
      <p>Primeira vez que visitou a página: {{count}}</p>
      <form action="{{ url_for('index') }}" method="get">
        <input name="counter" type="hidden" value="{{ counter }}">
        <button type="submit">atualizar</button>
      </form>
      <a href="{{ url_for('logout') }}">Sair</a>
    </div>
  </body>
</html>
